/build/CMakeCache.txt
/build/CMakeFiles/
/build/src/
/build/cmake_install.cmake
/build/Makefile
/nbproject/

.dep.inc
HOWTO-cleanup-build
LOG-make
TODO-tuxcap-merge.txt
build/Hungarr
build/LOG-run
build/Physicsdemo
build/Physicsdemo2
build/Physicsdemo3
build/Physicsdemo4
build/Physicsdemo5
build/Physicsdemo6
build/Physicsdemo7
build/demo_1
build/demo_2
build/demo_3
build/demo_4
build/demo_5
build/lib.py
build/main.pak
build/particle_demo
build/pythondemo1/Pythondemo1
build/pythondemo1/game.pyc
build/pythondemo1/main.pak
build/pythondemo2/Pythondemo2
build/pythondemo2/game.pyc
build/pythondemo2/main.pak
build/pythondemo_template/Pythondemo_template
diffs-with-maccap.patch
diffs-with-tuxcap.patch
tuxcap-Makefile.mk

